<!-- <div class="footer">
 <span class="headerlogo" style="color:white; right: 15px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:55px;">זהב</span>
 <span class="headerlogo" style="color:white; right: 215px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:255px;">זהב</span>
 <span class="headerlogo" style="color:white; right: 415px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:455px;">זהב</span>
 <span class="headerlogo" style="color:white; right: 615px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:655px;">זהב</span>
  <span class="headerlogo" style="color:white; right: 815px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:855px;">זהב</span>
   <span class="headerlogo" style="color:white; right: 1015px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:1055px;">זהב</span>
   <span class="headerlogo" style="color:white; right: 1215px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:1255px;">זהב</span>
    <span class="headerlogo" style="color:white; right: 1415px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:1455px;">זהב</span>

 <span class="headerlogo" style="color:white; right: 1615px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:1655px;">זהב</span>
 <span class="headerlogo" style="color:white; right: 1815px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:1855px;">זהב</span>
 <span class="headerlogo" style="color:white; right: 2015px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:2055px;">זהב</span>
 <span class="headerlogo" style="color:white; right: 2215px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:2255px;">זהב</span>
  <span class="headerlogo" style="color:white; right: 2415px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:2455px;">זהב</span>
   <span class="headerlogo" style="color:white; right: 2615px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:2655px;">זהב</span>
   <span class="headerlogo" style="color:white; right: 2815px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:2855px;">זהב</span>
    <span class="headerlogo" style="color:white; right: 3015px;">קו-</span><span class="headerlogo" style="color:#FFDF01; right:3055px;">זהב</span>
</div> -->